{:kotoba.app/id "cloud.itonami.isic-0240", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigq4g3v2kmoojz3wq763tm4hbefac5zgvvp4ixm2xybfeaqvxygsi", :kotoba.app/embed-url "ipfs://bafkreigq4g3v2kmoojz3wq763tm4hbefac5zgvvp4ixm2xybfeaqvxygsi", :published {:archive "https://kotobase.net/ipfs/bafkreigq4g3v2kmoojz3wq763tm4hbefac5zgvvp4ixm2xybfeaqvxygsi", :size 72454, :put-status 201, :get-status 200, :at "2026-08-15T13:34:03.337Z"}}
